* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #A61C1C;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none
