* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none
a:link {
  color:white ;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color:red ;
  background-color:orange;
}

/* selected link */
a:active {
  color:white ;
}
